<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bars"></i> Current order
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item" ng-show="reservationData.job">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-check"></i>
          </div>
          <div class="col-xs-8">{{totalTime | timeFilter}} Booked
          </div>
          <div class="col-xs-1">
            <a ui-sref=".details"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
        <div class="row">
          <div ng-repeat="additionalJob in reservationData.additionalJobs">
            <div class="col-xs-8 col-xs-offset-1">
              <span class="center-block text-muted small"><i class="fa fa-plus"></i> {{additionalJob.job}}</span>
            </div>
            <div class="col-xs-2">
              <span class="text-muted small">{{additionalJob.timeAmount | timeFilter}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item" ng-show="reservationData.address">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-check"></i>
          </div>
          <div class="col-xs-8">{{reservationData.address}}
          </div>
          <div class="col-xs-1">
            <a ui-sref=".address"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
      </div>
      <div class="list-group-item" ng-show="reservationData.appointment">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-check"></i>
          </div>
          <div class="col-xs-8"> {{reservationData.appointment.time | date:'dd-MM-yyyy'}}
          </div>
          <div class="col-xs-1">
            <a ui-sref=".time"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-2" style="padding-left: 0px">{{reservationData.appointment.title}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-2" style="padding-left: 0px">{{reservationData.jobType.name}}
          </div>
        </div>
      </div>
      <div class="list-group-item" ng-show="reservationData.payment">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-check"></i>
          </div>
          <div class="col-xs-8"> {{reservationData.payment}}
          </div>
          <div class="col-xs-1">
            <a ui-sref=".time"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row" style="font-size: 25px">
          <div class="col-xs-5">
            <span class="text">Price</span>
          </div>
          <div class="col-xs-6 col-lg-offset-1 text-right">
            <span>{{totalPrice| currency}}</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
